
.container {
	max-width: 1000px;
	text-align: center;
	margin: 20px auto;
}
th{
	font-size: 120%;
	text-align: center;
}
td{
	text-align: center;
}
h1{
	font-size: 350%;
}
.glyphicon{
	font-size: 135%;
}
.glyphicon-remove{
	margin-top: 4%;
	margin-right: 3%;
	font-size: 600px;
}
#dartboard{
	
}
#righty{
	margin-top: 80px;
	max-width: 300px;
}
#lefty{
	max-width: 300px;
	position: inherit;
}
table{
	border-left: 2px solid #e5e5e5;
}
.span4{
	background-color: red;
}
.span8{
	background-color:blue;
}
.dart{
	max-height: 5%;
	width: auto;
}
.badge.myBadge{
	background-color: white !important;
	color: black !important;
	font-size: 100%;
}