
.container {
	max-width: 1000px;
	text-align: center;
	margin: 20px auto;
}
th{
	font-size: 120%;
	text-align: center;
}
#active{

	background-color: #5BC0DE !important;
}
td{
	text-align: center;
}
.glyphicon{
	font-size: 135%;
}
.glyphicon-remove{
	margin-top: 4%;
	margin-right: 3%;
	font-size: 600px;
}
#dartboard{
	height: auto;
	width:600px;
}
#righty{
	max-width: 400px;
	margin-top: 80px;
	float:left;
}
#lefty{
	width:600px;
	
}